# node_modules/
node_modules/

# .DS_Store (macOS)
.DS_Store

# .env (variables de entorno)
.env

# Archivos de registro
logs/
*.log

# Directorio de compilación
/build

# Dependencias específicas de sistema operativo o IDE
.DS_Store
Thumbs.db
.vscode/

# Archivos de configuración para WebStorm
.idea/

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambientes de desarrollo
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/

# Entorno de producción
build/
